{
  "prefix": "=",
  "token": "{ENTER TOKEN HERE}",
  "enableChatResponseFeatures": false,
  "robophobicTimeout": 90,
  "enableVoiceTextChannel": false,
  "voiceChannel": "",
  "textChannelRole": "",
  "debug": false
}