{
  "configVersion": 3,
  "prefix": "=",
  "token": "{ENTER TOKEN HERE}",
  "enableChatResponseFeatures": false,
  "robophobicTimeout": 90,
  "enableVoiceTextChannel": false,
  "voiceChannel": "",
  "textChannelRole": "",
  "debug": false,
  "deleteMessages": false
  "embedColor": "#864991"
}